@import 'include-media';

$breakpoints: (
  xs: 450px,
  sm: 768px,
  md: 1024px,
  lg: 1300px
);

$white: #f9f3f1ff;
$black: #01050d;
$light-green: #8db38bff;
$medium-green: #56876dff;
$dark-green: #04724dff;

$collage-image-size: 300px;

$backup-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

body {
  color: $black;
  background: $white;
  font-family: 'Montserrat', $backup-fonts;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-top: 0;
}

strong,
b,
a {
  font-weight: 800;
  font-size: 24px;
}

p {
  font-size: 20px;
}

h2 {
  margin-bottom: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: $dark-green;
  @include media('>=md') {
    &:hover {
      color: $light-green;
      cursor: pointer;
    }
  }
}

@include media('>=md') {
  .instagram:hover i:before {
    color: $light-green;
  }
}

section {
  margin-bottom: 2rem;
}

.container {
  max-width: 1250px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
  @include media('<=md') {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include media('<sm') {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include media('<xs') {
    padding-left: 10px;
    padding-right: 10px;
  }
}

header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    .right-stuff div:first-child {
      margin-bottom: 1rem;
    }
  }

  z-index: 1000;
  position: sticky;
  top: 0;
  background: $white;

  box-shadow: 0px 1px 8px 0px $dark-green;

  img {
    width: 125px;
  }
  a {
    color: $black;
  }
}

footer {
  padding: 2rem 0;
  border-top: 5px solid $light-green;
  p {
    margin-top: 0;
    text-align: center;
  }
}

a.btn {
  color: $black;
  padding: 20px;
  border: 4px solid $black;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
  @include media('>=md') {
    &:hover {
      color: $medium-green;
      border-radius: 50px;
      border-color: $medium-green;
      transition: all 0.3s ease 0s;
    }
  }
}

.collage {
  /* Prevent vertical gaps */
  line-height: 0;
  column-count: 4;
  column-gap: 0px;
  height: $collage-image-size * 2;
  overflow: hidden;

  img {
    width: 100% !important;
    height: $collage-image-size !important;
    object-fit: cover;
  }

  &,
  &-overlay {
    max-width: 1500px;
    margin: auto;
  }
  &-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 141px;
    color: $white;
    height: $collage-image-size * 2;

    background: rgba(0, 0, 0, 0.3);
    &-text {
      padding: 2rem;
    }
    h1,
    p {
      max-width: 1000px;
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }

  @include media('<=sm') {
    column-count: 2;
    h1 {
      line-height: 1.15;
      font-size: 3rem;
    }
  }
  @include media('<=xs') {
    column-count: 1;
    h1 {
      font-size: 2.5rem;
    }
  }
}

.category {
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .btn {
      margin: 0.5rem;
    }
  }
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
  @include media('>sm') {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .grid-item {
    width: calc(33% - 2rem);
    margin: 1rem;
    @include media('<=lg') {
      width: calc(50% - 2rem);
    }
    @include media('<=sm') {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

$product-br: 6px;
.products {
  .product {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: $product-br;

    img {
      width: 100%;
      height: 375px;
      object-fit: cover;
      border-radius: $product-br $product-br 0 0;
    }
    .card-content {
      padding: 1rem;
    }
    h3,
    p {
      margin-bottom: 8px;
    }
    p {
      margin-top: 0;
    }
    &__titlebar {
      display: flex;
      justify-content: space-between;
    }
  }
}

.snipcart {
  &-modal__container {
    top: 141px;
  }
  &-cart-header {
    & > div {
      display: none;
    }
  }
  @include media('>=md') {
    .snipcart-dropdown-custom-field--standard {
      width: 50%;
    }
  }
  @include media('<md') {
    .snipcart-item-line__header {
      height: 200px;
      figure {
        height: 200px;
      }
    }
  }
}

.reviews {
  .review {
    overflow: hidden;
    background-color: $black;
    color: $white;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    position: relative;
    max-width: 450px;
    max-height: 450px;
    * {
      box-sizing: border-box;
    }
    img {
      object-fit: cover;
      opacity: 0.7;
      vertical-align: top;
      height: 400px;
      width: 100%;
    }
    figcaption {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 80px 10% 15%;
      &:before {
        font-family: 'FontAwesome';
        content: '\201C';
        position: absolute;
        font-size: 170px;
        opacity: 0.75;
        font-style: normal;
        transform: translateX(-50%);
        top: 0px;
        left: 50%;
      }
    }
    blockquote {
      padding: 0;
      margin: 0;
      font-style: italic;
      font-size: 1.2em;
    }
    h3 {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 400;
      line-height: 28px;
      margin: 3px 0;
    }
  }
}
